Django>=5.0
requests>=2.31.0
pandas>=2.1.0          # Для удобного расчета APR и скользящих средних
numpy>=1.26.0
python-dotenv>=1.0.0   # Для хранения ключей (если понадобятся)
tenacity>=8.2.3        # Отличная библиотека для ретраев (лучше, чем просто loop)
pytz>=2023.3
celery>=5.3,<6      
redis>=4.5.0,<8      
django-celery-beat>=2.6.0  
