version: '3.8'
services:
  frontend:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./scanner-frontend:/app      
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true   
      - REACT_APP_API_URL=${REACT_APP_API_URL:-http://host.docker.internal:8000}
    command: sh -c "npm install --silent && HOST=0.0.0.0 npm start"

